protobuf==3.20.1
matplotlib==3.7.3
matplotlib-inline @ file:///Users/ec2-user/ci_py311/matplotlib-inline_1678317544666/work
pandas==2.1.0
pandas-profiling==3.2.0
streamlit==1.26.0
seaborn @ file:///Users/ec2-user/ci_py311/seaborn_1678394152964/work
XlsxWriter==3.1.3